@tailwind base;
@tailwind components;
@tailwind utilities;

/*
*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    background-color: purple;
    align-items: center;
    height: 100px;
}


.logo{
    width: 100px;
    float: left;
}

.nav-items > ul{
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding:15px;
    text-align: center;
    color: white;
}

.nav-items > ul > li > a {
    color: white;
}

.nav-items>ul>li:hover{
    transform: scale(1.05);
}

.res-container {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.res-card{
    width: 200px;
    height: 400px;
    margin: 5px;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 5px;
}

.res-card:hover{
    box-shadow:2px 2px 2px 2px grey;
    cursor: pointer;
    transform: scale(0.95);
}

.res-logo{
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.filter-btn{
    margin:20px;
    cursor: pointer;
    width: 200px;
    height: 32px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.filter-btn:hover{
    transform: scale(1.02);
}

.search-bar{
    text-align: center;
    width: 60%;
    margin:  auto;
    position: relative;
    display: flex;
    height: 32px;
}

input{
    width: 100%;
    height: 24px;
    border-radius: 5px;
}

input:focus{
    background-color: whitesmoke;
}

.search-btn{
    margin: auto;
    width: 100px;
    height: 100%;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

.search-btn:hover{
    transform: scale(1.02);
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:24px
}

.shimmer-card{
    width: 200px;
    height: 500px;
    margin: 5px;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 5px;
}

.login-btn{
    padding: 0 20px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    margin: 10px;
    background-color: gold;
    color: black;
    border-radius: 5px;
    font-size: 20px;
}

.login-btn:hover {
    transform: scale(1.02);
}

.filter {
    display: flex;
}

a{
    text-decoration: none;
    color: black;
}

.menu {
    text-align: center;
    
}

.menu > ul > li {
    list-style-type: none;
}

.menu-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 600px;
    margin: auto;
    padding: 10px;
    background-color: whitesmoke;
    margin-bottom: 10px;
    border-radius: 5px;
}

.menu-display:hover {
    box-shadow: 0 0 2.5px 2.5px grey;
    transform: scale(0.98);
}

.menu-info{
    text-align: left;
}

.menu-img{
    width: 100px;
    height: 100px;
}

.userClass-card{
    padding:10px;
    border:1px solid black;
    width: 500px;
}

.signup-form{
    margin: auto;
    width: 50%;
}

Form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.error{
    color: red;
}

*/